{erl_opts, [debug_info,noshell]}.
{deps, [
%did it for deps test

  
]}.
{root_dir, "."}.
{post_hooks,[{"(linux|darwin|solaris)",release,"make"}]}.
{relx, [
  {release, {iot, "1.0.0"},
    %% list of apps to include
    [iot,runtime_tools]},


    %% Don't ship an Erlang VM by default
  {include_erts, false},
  {vm_args,"./vm.args"}
]}.

{profiles, [
  {test, [
    {deps, [
      {meck, "0.8.2"}
    ]}
  ]},
  %% called as `rebar3 as prod <command>`
  {prod, [
    {relx, [ % override relx specifically
      {include_src, false}, % don't include source code
      {include_erts, true}  % include the VM in the release
    ]}
  ]}
]}.

{port_env, [{"linux", "LDFLAGS", "$LDFLAGS -lpthread"}]}.

