{erl_opts, [debug_info,noshell,{i,["."]}]}.
{deps, [
%did it for deps test
  {exml,".*",{git,"https://github.com/ludwikbukowski/exml.git"}},
  {escalus,".*",{git,"https://github.com/esl/escalus"}}

]}.

{root_dir, "."}.
{pre_hooks,[{"(linux|darwin|solaris)", compile, "make -C c_src"}]}.
{post_hooks,[{"(linux|darwin|solaris)", clean, "make -C c_src clean"}]}.
{relx, [
  {release, {iot, "1.0.0"},
    %% list of apps to include
    [iot,syntax_tools,tools,runtime_tools,wx,compiler,
      observer,debugger]},
    %% Don't ship an Erlang VM by default
  {include_erts, false},
  {vm_args,"./vm.args"}
]}.

{profiles, [
  {test, [
    {deps, [
      {meck, "0.8.2"}
    ]}
  ]},
  %% called as `rebar3 as prod <command>`
  {prod, [
    {relx, [ % override relx specifically
      {include_src, false}, % don't include source code
      {include_erts, true}  % include the VM in the release
    ]}
  ]}
]}.

{port_env, [{"linux", "LDFLAGS", "$LDFLAGS -lpthread"}]}.
{overrides,[{override, escalus,[{common_test,false}]}]}.
